In [1]:
import warnings
warnings.filterwarnings('ignore')

# Lab 4 - Data (ETL)

In [2]:
%matplotlib inline

## General Instructions

In this course, Labs are the chance to applying concepts and methods discussed in the module.
They are a low stakes (pass/fail) opportunity for you to try your hand at *doing*.
Please make sure you follow the general Lab instructions, described in the Syllabus.
The summary is:

* Discussions should start as students work through the material, first Wednesday at the start of the new Module week. 
* Labs are due by Sunday. 
* Lab solutions are released Monday.  
* Post Self Evaluation and Lab to Lab Group on Blackboard and Lab to Module on Blackboard on Monday.

The last part is important because the Problem Sets will require you to perform the same or similar tasks without guidance.
Problem Sets are your opportunity to demonstrate that you understand how to apply the concepts and methods discussed in the relevant Modules and Labs.

## Specific Instructions

1.  For Blackboard submissions, if there are no accompanying files, you should submit *only* your notebook and it should be named using *only* your JHED id: fsmith79.ipynb for example if your JHED id were "fsmith79". If the assignment requires additional files, you should name the *folder/directory* your JHED id and put all items in that folder/directory, ZIP it up (only ZIP...no other compression), and submit it to Blackboard.

    * do **not** use absolute paths in your notebooks. All resources should located in the same directory as the rest of your assignments.
    * the directory **must** be named your JHED id and **only** your JHED id.
    * do **not** return files provided by us (data files, .py files)

2. Data Science is as much about what you write (communicating) as the code you execute (researching). In many places, you will be required to execute code and discuss both the purpose and the result. Additionally, Data Science is about reproducibility and transparency. This includes good communication with your team and possibly with yourself. Therefore, you must show **all** work.

3. Avail yourself of the Markdown/Codecell nature of the notebook. If you don't know about Markdown, look it up. Your notebooks should not look like ransom notes. Don't make everything bold. Clearly indicate what question you are answering.

4. Submit a cleanly executed notebook. The first code cell should say `In [1]` and each successive code cell should increase by 1 throughout the notebook.

**Note** This assignment will have multiple files. Follow those instructions.

## Lab

**Reid's** is a small breakfast stand that sells drinks (coffee, tea, sodas) and food (egg & sausage, oatmeal) in a commercial downtown area, Monday through Friday, from 8a until 11am.
Although their menu is small, they do try to cater to a wide variety of diets and thus provide both vegan and keto options for most of their meals.
They started using Ordr as their Point of Sale (POS) system about two months ago and are on the Basic Plan.

Under the Basic Plan, they are able to use the Ordr API to access orders.
This order information comes in the form of a denormalized JSON document.
In order to make any sense of things, you need to normalize it in the Datawarehouse.

1. You are not actually going to access an external API. Use the provided JSON file as the data that the API would return.
2. **You are doing "ETL in the Large" in this assignment.** You are going to build a datawarehouse in SQLite, *not* an application database. This difference is substantial. Refer to the draft chapter of Fundamentals for some of the differences.

**Note** We sometimes get strange questions about the use of SQLite like, "do you really use SQLite in production?". We use SQLite jor this Lab for the following reasons:

1. SQLite is a real RDBMS.
2. SQLite uses real SQL. SQL may be the most important skill you can have as a Data Scientist doing Data Science.
3. Most importantly, the database itself is a standalone file that you can submit to us.

That being said, under some and somewhat weird circumstances, I have used SQLite on real projects before. However, the learning objective is not SQLite, SQLite is  tool.

<div style="background: lemonchiffon; margin:20px; padding: 20px;">
    <strong>Note</strong>
    <p>You may need to install <tt>sqlite</tt>. It is normally on MacOs and may be on Linux already.</p>
</div>

**Note**
We assume you know the basics of RDMBS and SQL DDL in this course (It is in the course prerequisites!).
That you understand what "normalized" and "denormalized" data means and that you know about primary and foreign keys.
This [article](https://www3.ntu.edu.sg/home/ehchua/programming/sql/Relational_Database_Design.html) does talk about the major points.
Additionally, we assume you know SQL and DDL.
If you do not, this Lab will be more challenging than usual and you should start early.

**Important - You must not use Pandas for any part of this assignment.**
Why not?
Because you should know how to do these things without relying on Pandas.

## Part 1

### Learning Objectives

* investigate the structure of data acquired from a 3rd party.
* convert denormalized data into normalized data, according to common data warehouse practices.
* design a data warehouse to store production data acquired from a 3rd party.
* write data to a data warehouse.

This assignment is not about tools *per se* but about broader skills and concepts.

You will be creating the following files:

1. **reids.sql** - this file will create the database structure using DDL. Make sure you review the data and sketch out your design.
2. **reids.db** - this is the actual database, our data warehouse.

```
> sqlite3 reids.db < reids.sql
```

will create the database and all the tables.
The database will be empty at this point.

<div style="background: lemonchiffon; margin:20px; padding: 20px;">
    <strong>Note</strong>
    <p>"<tt>></tt>" represents the command line. Your sqlite executable may have a different name.</p>
</div>

3. **reids.py** - this program will parse the JSON file and fill the database.

```
> python reids.py
```

Unfortunately, the documentations for the Ordr API is sparse, here is an example of one order:

```
{'items': [
    {'name': 'coffee', 'price': 2.75},
    {'name': 'flavor shot', 'price': 1.0}
    ],
'charges': {
    'date': '01/04/21 10:22',
    'subtotal': 3.75,
    'taxes': 0.26,
    'total': 4.01},
'payment': {
    'card_type': 'visa',
    'last_4_card_number': '0465',
    'zip': '21217',
    'cardholder': 'Christina Sampson',
    'method': 'credit_card'}}
```

**The date format is Month/Day/Year**

Make sure you look through the data to see what values are possible for each of the fields.
The standards of normalization/denormalization for datawarehouses are slightly different or can be different than regular production RDMBS systems.
For example, we might be tempted to create a `menu_items` table:

```
id    name                 price
1     coffee               2.75
2     flavor shot          1.00
3     egg salad sandwich   4.50
```

An issue arises if we change the name to "Kona Coffee" because it will change it *for past purchases*.
That is, customers in the past bought based on the name "Coffee" and not "Kona Coffee".
This might be important.
Even worse, if we change the price to \\$3.00, it changes it for all past purchases and that is clearly wrong.

In a production RDMBS we often want the data to change everywhere it is used.
If "Steve" changes his name to "Sam", we want that to be reflected in any query and report.
For datawarehousing, though, we want to preserve the historical fidelity of the data.
This means we have a tendency to normalize *less* than we would otherwise do.
It's worth noting that there is a trend to preserve the historical fidelity in production databases as well by things like soft deletes.

This means the main issue for the Ordr data is storing the three main entities and creating primary/secondary keys.
You will need to create these.

All of this "parsing and massaging" work will be done in the `reids.py` file.
It will contain the code to parse the JSON file and fill the database, performing whatever normalization and standardization is required as well as creating whatever primary and foreign key relationships seem reasonable.

You must create the following tables in the database:

1. `items`
2. `charges`
3. `payments`

but you can add additional tables as necessary (it is not uncommmon to include tables in datawarehouses that support analytics such as information about business dates).

**Note** Feel free to develop reids.py as a Notebook and then generate the .py from the .ipynb file...just make sure you only include the .py file and that it will run from the command line as specified above and you have commented out any debug/chatter.

**Important**
There are some "gotchas".
1. When inserting data into the database, don't forget to the commit.
2. If you must reconstruct your database, make sure you "free" all references to it. If you use a script to change it but it's open your notebook, the open version in the notebook won't necessarily see those changes.  You'll need to get a new connection.

When you are done with this part, you should be able to proceed to Part 2.

**Everything having to do with parsing the JSON file from Ordr and setting up the "data warehouse" should be done in the three files described above and not in this Notebook.**

## Part 2

### Learning Objectives

You almost never start out with a Notebook and start pulling data. 
The idea that you launch Jupyter Notebook and load a readily available CSV is an incredibly artificial artifact of school (if you had to pull data The Real Way(tm) for every assignment, we'd never get anything done).

Instead, you are more likely to start out with a database and you run queries directly against the database, finding out where and what everything is, answering some initial questions.

* Run queries against an RDBMS to answer basic business questions.

Some data science projects are literally just this: someone asks a question, you investigate the data, you run a query using something like [MySQL Workbench](https://www.mysql.com/products/workbench/), [Toad](https://www.toadworld.com/products/toad-for-sql-server) (Windows Only) or [Postico](https://eggerapps.at/postico/) (MacOS Only). There are also generic SQL clients. For example, [VSCode](https://code.visualstudio.com/) has SQL extensions.

You will mimic that experience here by using only the [sqlite3](https://docs.python.org/3/library/sqlite3.html) Python library (included in the base installiation, link is to documentation).
As with Part 1, you may *not* use Pandas for this part.
Additionally, you *must* not print out native Python data structures.
[Tabulate](https://pypi.org/project/tabulate/) has been provided in the environment.yml for your use.


For Part 2, everything should be done here, in this notebook.

**Note**
The general format is discuss/code/discuss.
For the questions below, you should be able to:

1. explain what the query does (discuss)
2. execute and display the query result (code)
3. interpret the result (discuss)

All three are required for full credit on something like Problem Set so you should practice the triad here. It is permissible to use a query to get raw data (and show it in a table) and then perform a calculation with that raw data (just add a code cell). However, you should do as much as possible in SQL.

<div style="background: lemonchiffon; margin:20px; padding: 20px;">
    <strong>Note</strong>
    <p>
There is a significant work/payoff imbalance here and this reflects real life.
Setting up the data warehouse is 80% of the effort but only 20% of the credit.
Your boss just doesn't care about your struggles with the data, they only care about answering the queries.
As a result, the queries (Part 2) may be 20% of the effort but they're 80% of the grade.
They're proof that you did Part 1 correctly.
If you don't get to the queries, if you don't do them right, there's no proof.
    </p>
</div>

Using the database `reids.db` and SQL please answer the following questions:

In [3]:
from tabulate import tabulate
import sqlite3

In [6]:
con = sqlite3.connect('reids.db')
crsr = con.cursor()

### Question 1.

What were Reid's order count and gross revenue by day for the two month period?

For order count, we can simply count up the amount of charges. For gross revenue, we can sum the totals from each charge.

In [21]:
orders = crsr.execute('''SELECT count(*) FROM charges''')
orders = crsr.fetchall()
data = [[orders[0][0]]]
print(tabulate(data, headers=['Orders']))

  Orders
--------
    2071

So there were 2071 orders for this period.

Note I split up the day and time as separate columns in the database, which allows us to group by day for this query.

In [22]:
revenue = crsr.execute('''SELECT date, SUM(total) FROM charges GROUP BY date''')
revenue = crsr.fetchall()
data = []
for day in revenue:
    data.append(day)

print(tabulate(data, headers=['Date', 'Gross Revenue']))

Date          Gross Revenue
----------  ---------------
2021/04/01           188.87
2021/04/02           265.11
2021/04/05           339.77
2021/04/06           276.09
2021/04/07           188.63
2021/04/08           345.92
2021/04/09           341.58
2021/04/12           294.54
2021/04/13           167.5
2021/04/14           288.41
2021/04/15           262.69
2021/04/16           402.63
2021/04/19           276.1
2021/04/20           265.65
2021/04/21           207.62
2021/04/22           316.76
2021/04/23           408.49
2021/04/26           256.32
2021/04/27           240.78
2021/04/28           267.53
2021/04/29           259.79
2021/04/30           284.13
2021/05/03           285.47
2021/05/04           263.49
2021/05/05           188.86
2021/05/06           359.81
2021/05/07           355.28
2021/05/10           301.24
2021/05/11           171.73
2021/05/12           202.26
2021/05/13           315.68
2021/05/14           263.23
2021/05/17           170.68
2021/05/18           274.5
2021/05/19           296.44
2021/05/20           331.69
2021/05/21           333.32
2021/05/24           288.93
2021/05/25           318.1
2021/05/26           222.31
2021/05/27           255.49
2021/05/28           273.43

Here we can see the gross revenue summed by date.

### Question 2.

What is Reid's average order count and gross revenue by day of the week?

In [49]:
# doesn't work
revenue = crsr.execute('''SELECT date, count(*) FROM charges
                        WHERE DATEPART(WEEKDAY, GETDATE()) = 2 ''')
revenue = crsr.fetchall()
print(revenue)
data = []
for day in revenue:
    data.append(day)

OperationalError: no such column: WEEKDAY

I'm not really sure how to approach this problem without going back into the database and adding the days to the tables, but all the documentation I could find online is how to select the weekday with manually entering the date.

### Question 3.

How many cups of coffee does Reid's sell per day, on average?

In [51]:
# foreign keys?
coffee = crsr.execute('''SELECT count(*) FROM items WHERE name = 'coffee' ''')
coffee = crsr.fetchall()
print(coffee)

[(1,)]

This is found by linking the items table with the charges or another ordering table. I tried my best to create the tables, and they have unique ids, but I couldn't figure out how to properly set up the foreign keys to link tables to each other. This is my first time using SQL.

### Question 4.

What proportion of orders contain "up charges" like flavor shots, vegan or keto substitutions?

In [32]:
# couldn't figure out how to create order table properly -looking foward to the solution
upcharge = crsr.execute('''SELECT count(*) FROM items WHERE name = 'flavor shot'
                        AND name = 'vegan' AND name='keto' ''')
upcharge = crsr.fetchall()
print(upcharge)

[(0,)]

I couldn't get the ORDER table working properly with setting up my foreign keys. I understand the principles - we want to have a table that links each order with a unique charge, and ids of items from the items table and ids from the payments table. However I could not figure out how to do this as this is my first time working with SQL. Looking forward to reviewing the solution this week.

### Question 5.

Reid's considers someone to be a "regular" if they come at least 3 out of 5 days per week. How many regulars do you estimate there are and what are their names? How many days per week do they each come on average? What are the limits of this calculation based on the available data?

In [36]:
customer = crsr.execute('''SELECT * FROM payments GROUP BY cardholder ''')
customer = crsr.fetchall()
data = []
for payment in customer:
    data.append(payment)

print(tabulate(data, headers=['cust_id', 'method', 'card', 'last_4', 'zip', 'name']))

  cust_id  method       card          last_4    zip  name
---------  -----------  ----------  --------  -----  ----------------------
        3  cash
       94  credit_card  mastercard      2460  21217  Aaron Bridges
      276  credit_card  visa            3660  21201  Aaron Compton
      553  credit_card  mastercard      1369  21226  Aaron Crane
      347  credit_card  mastercard      1505  21270  Aaron Ellis
      337  credit_card  mastercard      1511  21281  Abigail Carter
      118  credit_card  mastercard      4229  21278  Abigail Hall
      747  credit_card  visa            2280  21205  Adam Brooks
      115  credit_card  mastercard      2581  21274  Adam Thompson
       86  credit_card  visa            5136  21230  Adrian Herman
      270  credit_card  visa            6840  21205  Adrian James
      567  credit_card  visa             946  21231  Adriana Young
       66  credit_card  visa            9698  21223  Alexander Atkinson
      358  credit_card  mastercard      2556  21287  Alexander Nelson
      215  credit_card  visa            7626  21278  Alexis Campbell
      349  credit_card  visa             275  21263  Alexis Thompson
      376  credit_card  mastercard       822  21214  Allison White
      116  credit_card  visa            2661  21280  Allison Wright
      104  credit_card  visa            1870  21274  Alyssa Carr
      249  credit_card  visa            8879  21279  Alyssa Marsh MD
      511  credit_card  visa            2248  21288  Amanda Alexander
      589  credit_card  visa            5427  21223  Amanda Anderson
      575  credit_card  visa            1669  21226  Amanda Ayala
      752  credit_card  visa            2120  21264  Amanda Mccoy
      541  credit_card  visa            8855  21223  Amanda Mcintyre
      285  credit_card  mastercard      2960  21217  Amanda Oconnor
      530  credit_card  mastercard      5195  21225  Amanda Wright
      675  credit_card  mastercard      9664  21270  Amanda York
      384  credit_card  visa            8181  21223  Amber Rodriguez
      125  credit_card  visa            6278  21283  Amy Hernandez
      355  credit_card  visa            6922  21216  Amy Hogan
      626  credit_card  visa            4594  21217  Amy Massey
      407  credit_card  mastercard      7804  21278  Amy Norton
      674  credit_card  mastercard      9057  21202  Amy Oconnor
      517  credit_card  mastercard      7477  21283  Amy Robinson
      334  credit_card  visa            7608  21278  Amy Warren
       31  credit_card  visa            8120  21273  Andrea Baker DVM
        4  credit_card  visa            9614  21216  Andrea Francis
      225  credit_card  visa            5075  21226  Andrea Hall
      198  credit_card  visa            4653  21298  Andrew Johnson
        2  credit_card  visa            6072  21213  Andrew Luna
      351  credit_card  visa             528  21201  Andrew Pena
      375  credit_card  visa             685  21287  Angel Griffin
      173  credit_card  visa            1820  21263  Angela Gallagher
      191  credit_card  visa            7464  21280  Angela Gregory
      600  credit_card  visa            8542  21279  Angela Harrison
      309  credit_card  visa            9689  21223  Angela Haynes
      146  credit_card  mastercard      5625  21270  Anna Cruz
      305  credit_card  mastercard      5514  21233  Anna Hall
      641  credit_card  mastercard      9652  21233  Anna Mcpherson
      654  credit_card  visa            5308  21264  Anna Ramos
      438  credit_card  visa            8757  21251  Anne Clayton
      494  credit_card  visa            1287  21217  Anne Compton
      735  credit_card  visa            9743  21283  Anne Miles
      350  credit_card  visa            5799  21226  Anthony Hunter DDS
      566  credit_card  mastercard      8875  21263  Anthony Mack
       51  credit_card  visa            9801  21270  Anthony Martin
       96  credit_card  visa            9591  21297  Anthony Wilson
      724  credit_card  visa            7819  21218  Antonio Porter
      128  credit_card  visa            6166  21226  April Figueroa
      260  credit_card  visa            7541  21275  April Torres
      432  credit_card  visa            6878  21225  Ashley Baker
      720  credit_card  visa            1068  21298  Ashley Barnes
      161  credit_card  visa            3247  21203  Ashley Brown
      456  credit_card  mastercard      5538  21263  Ashley Cardenas
      152  credit_card  mastercard      5557  21279  Ashley Hughes
      324  credit_card  visa            1268  21297  Ashley Schaefer
      232  credit_card  visa            7843  21290  Audrey Hall
      246  credit_card  visa             351  21211  Austin Harrell
      734  credit_card  visa            7126  21289  Autumn Fuller
       32  credit_card  visa            2808  21226  Barbara Greene
      413  credit_card  mastercard      4431  21202  Barbara Jacobs
      606  credit_card  visa            3573  21283  Barbara Rodriguez
      502  credit_card  mastercard      9942  21298  Barbara Solomon
      251  credit_card  visa            8109  21265  Benjamin Buck
      149  credit_card  visa            1415  21201  Benjamin Cox
      545  credit_card  visa            7389  21283  Benjamin Fields
      448  credit_card  mastercard      8349  21278  Benjamin Gray
      393  credit_card  visa            7480  21226  Beth Gomez DDS
      342  credit_card  visa            5000  21290  Beth Turner
      323  credit_card  visa            3666  21279  Betty Wilcox
      583  credit_card  visa              66  21265  Billy Mills
      527  credit_card  mastercard       274  21216  Bobby Mills
      229  credit_card  visa            2386  21283  Bonnie Fisher
      160  credit_card  visa            3652  21270  Bradley Williams
      168  credit_card  visa            6983  21231  Brady Clark
      183  credit_card  visa            7931  21201  Brandi Jones
      671  credit_card  visa            4713  21289  Brandon Love DVM
      167  credit_card  mastercard      2134  21205  Brandon Simon
      624  credit_card  visa            4243  21216  Brandy Hernandez
      272  credit_card  mastercard      7706  21214  Breanna Johnson
      707  credit_card  visa            7954  21211  Brenda Gomez
      712  credit_card  visa            2550  21274  Brenda Hammond
        1  credit_card  mastercard      5056  21274  Brent Morgan
      206  credit_card  visa            6857  21211  Brett Parker
      109  credit_card  mastercard      9677  21233  Brian Allen
      677  credit_card  visa            9818  21231  Brian Hawkins
      257  credit_card  mastercard      7165  21223  Brian Holmes
      277  credit_card  visa            5253  21201  Brian Jensen
      108  credit_card  mastercard      8245  21205  Brian Macdonald
      660  credit_card  visa            1070  21297  Brian Sanders
      339  credit_card  visa            6920  21289  Brian Shaw
      148  credit_card  mastercard      4954  21289  Brian Whitaker
      119  credit_card  visa            1425  21226  Brianna Woodard
      245  credit_card  visa            4742  21278  Brittany Decker
      254  credit_card  mastercard       903  21201  Brittany Howard DDS
      593  credit_card  visa            4004  21218  Brittany Huynh MD
      652  credit_card  mastercard       835  21288  Brittany Johnson
      396  credit_card  visa            4582  21265  Brittany Rowe
      551  credit_card  mastercard      5662  21274  Bruce Fitzgerald
      491  credit_card  visa            7905  21274  Bryan Reed
      462  credit_card  visa            9793  21225  Caitlin Castillo
      698  credit_card  visa            2064  21225  Caitlin Cook
      629  credit_card  visa            2035  21265  Caitlin Cooper
      444  credit_card  mastercard      6963  21283  Caitlin Keller
      520  credit_card  visa            7543  21214  Caitlin Sutton
      296  credit_card  mastercard      8718  21214  Caleb Taylor
       12  credit_card  mastercard      4362  21201  Calvin Jones
      374  credit_card  visa            1108  21280  Cameron Rodriguez
       72  credit_card  visa            6472  21288  Carmen Miller
      243  credit_card  mastercard      4650  21201  Caroline Jones
      271  credit_card  mastercard       429  21213  Carolyn Acosta
      306  credit_card  mastercard      6452  21283  Carolyn Jones
      557  credit_card  visa            6062  21281  Carrie Gutierrez
      480  credit_card  visa            4362  21275  Cassandra Bennett
       10  credit_card  visa             302  21297  Cassandra Francis
      110  credit_card  mastercard      6776  21233  Catherine Byrd
      528  credit_card  visa            8363  21283  Catherine Church
      250  credit_card  mastercard      6477  21213  Catherine Coleman
      205  credit_card  visa            6000  21273  Catherine French
      316  credit_card  visa            7341  21263  Cathy Schaefer
      689  credit_card  mastercard      2436  21233  Cesar Hernandez
       23  credit_card  visa            5658  21226  Chad Arias
      369  credit_card  visa            4017  21203  Chad Collins
      268  credit_card  visa            3534  21203  Chad Gilbert
      643  credit_card  visa            5848  21203  Charles Herrera
      154  credit_card  visa            6021  21264  Charles Newman
      635  credit_card  mastercard      7428  21218  Charles Patterson
      114  credit_card  mastercard      9832  21279  Chase Chang
      201  credit_card  mastercard      8642  21283  Chase Hall
      341  credit_card  mastercard      5871  21298  Chase Serrano
      126  credit_card  visa            7024  21290  Chelsea Hanna
       93  credit_card  visa            3378  21270  Chelsea Richardson
        7  credit_card  visa            3516  21290  Cheryl Zamora
      356  credit_card  mastercard      3541  21233  Christina Lucas
      363  credit_card  visa            5569  21290  Christine Berger
      730  credit_card  visa             267  21275  Christine Castro
      719  credit_card  mastercard      6227  21274  Christine Gray
      622  credit_card  visa            7553  21215  Christopher Beard
      130  credit_card  visa            9667  21290  Christopher Chandler
      521  credit_card  visa            3640  21214  Christopher Hardin
       35  credit_card  mastercard      4792  21216  Christopher Herrera
      410  credit_card  visa            4446  21231  Christopher Ibarra
       65  credit_card  mastercard      3908  21283  Christopher Kaufman
      420  credit_card  visa            2037  21287  Christopher Lynch
      263  credit_card  visa            8821  21233  Christopher Wilson
      525  credit_card  mastercard      9709  21251  Cody Lane
      475  credit_card  visa            7011  21201  Cody Patel
      176  credit_card  visa            8598  21273  Cody Watts
      200  credit_card  mastercard      4109  21287  Corey Ashley
      631  credit_card  visa            8041  21281  Corey Jenkins
       46  credit_card  visa            6132  21225  Cory Martin
      744  credit_card  visa            2627  21275  Courtney Miller
       13  credit_card  visa            6423  21298  Craig Armstrong
       19  credit_card  visa            7763  21263  Craig Chase
      755  credit_card  visa            5706  21287  Craig Hall
      252  credit_card  mastercard      6207  21223  Crystal Mcgee
      235  credit_card  visa            4891  21297  Crystal Tapia
       38  credit_card  visa            1532  21279  Curtis Lynn
      590  credit_card  visa             252  21280  Curtis Smith
      422  credit_card  visa            1069  21216  Dakota Smith
      220  credit_card  mastercard      9422  21290  Dana Chavez
      436  credit_card  visa            6939  21225  Daniel Butler
      310  credit_card  visa            8519  21218  Daniel Deleon
      370  credit_card  visa            9742  21203  Daniel Downs
      431  credit_card  visa            3582  21215  Daniel Gonzalez
       97  credit_card  visa             118  21281  Daniel Hall DVM
       43  credit_card  visa            3593  21233  Daniel Hays
       29  credit_card  visa            2275  21297  Daniel Long
       92  credit_card  visa            3681  21283  Daniel Rodriguez
      319  credit_card  visa            9665  21265  Daniel Silva
      704  credit_card  visa            3108  21281  Daniel Steele
      163  credit_card  mastercard      4518  21223  Daniel Vargas
      211  credit_card  visa            9502  21264  Daniel Waters
       88  credit_card  visa            7275  21233  Danielle Cisneros
      623  credit_card  mastercard      5624  21280  Danielle Nichols
      386  credit_card  mastercard      6028  21223  Darius Ochoa
      569  credit_card  visa            4450  21213  Darren Harrison
      492  credit_card  visa            4862  21205  Darren Newman
      262  credit_card  visa            8161  21223  Daryl Jones
      524  credit_card  visa            3881  21223  David Adams
      231  credit_card  mastercard      8229  21230  David Black
      199  credit_card  visa            8042  21203  David Burns
      164  credit_card  visa            1634  21231  David Garza
      226  credit_card  visa            9889  21264  David Gomez
      515  credit_card  mastercard      7523  21287  David Johnson
       11  credit_card  visa            8354  21297  David Jordan
      122  credit_card  mastercard      2996  21274  David Parker
      668  credit_card  visa             768  21205  David Schultz
      352  credit_card  mastercard      3341  21278  David Valdez
      186  credit_card  visa            6747  21287  Dawn Hernandez
      385  credit_card  mastercard      4399  21251  Deanna Hahn
      269  credit_card  visa            6180  21279  Deanna Smith
      507  credit_card  mastercard      7742  21251  Debbie Summers
      645  credit_card  visa            7991  21263  Deborah Freeman
      223  credit_card  visa            9839  21223  Deborah Johnson
      357  credit_card  visa            5939  21280  Deborah Murillo
      332  credit_card  visa            9998  21283  Deborah Reynolds
      514  credit_card  visa            7830  21218  Debra Cortez
      169  credit_card  visa            8908  21280  Debra Hudson
      534  credit_card  visa            6808  21218  Denise Gomez
      247  credit_card  visa            1395  21265  Denise Parker
      333  credit_card  mastercard       922  21297  Dennis Atkins
      474  credit_card  visa            8389  21288  Derrick Kim
      658  credit_card  visa            6047  21263  Derrick Wilson
      613  credit_card  visa            4230  21278  Desiree Morrow
      612  credit_card  visa            6961  21201  Diana Jacobs
      710  credit_card  visa            2964  21230  Don Macias
      754  credit_card  mastercard      3961  21280  Donald Ramsey
      304  credit_card  mastercard      8525  21279  Donald Salazar
       57  credit_card  mastercard      3240  21275  Donald White
      473  credit_card  mastercard      1069  21230  Donna Miller
      290  credit_card  visa            5658  21216  Donna Williams
      265  credit_card  mastercard      9572  21288  Dorothy Roberts
      162  credit_card  mastercard      5816  21270  Douglas Cobb
       39  credit_card  visa            9363  21233  Dr. Dawn Watkins
      264  credit_card  visa            4550  21279  Dr. Isaiah Gibbs
      627  credit_card  visa            3504  21283  Dr. Joanna Freeman
      633  credit_card  visa            4861  21263  Dr. Tara Erickson
      132  credit_card  visa            8420  21278  Dylan Garcia
      170  credit_card  visa            9345  21205  Eddie Hall
       36  credit_card  visa            3018  21279  Eddie Myers
      193  credit_card  mastercard      5904  21280  Edgar Keith
      440  credit_card  visa            4950  21273  Edward Fisher
      512  credit_card  mastercard       906  21273  Elaine Harris
      123  credit_card  visa            5837  21279  Elijah Carrillo
      465  credit_card  visa            2395  21230  Elizabeth Collier
      642  credit_card  visa             277  21205  Elizabeth Frank
       59  credit_card  visa            5938  21274  Elizabeth Shaw
      320  credit_card  visa            7677  21288  Emily Brown
       21  credit_card  visa            8789  21270  Emily Dennis
      501  credit_card  mastercard       707  21279  Emily Duarte
      172  credit_card  visa            6814  21226  Emily Little
      453  credit_card  visa             194  21280  Emily Vance
      685  credit_card  visa            9825  21218  Emily Wilson
        5  credit_card  visa            3715  21230  Eric Bruce
      155  credit_card  visa             240  21217  Eric Ford
      510  credit_card  mastercard      2739  21230  Eric Martin
      667  credit_card  visa            6190  21290  Erica Frazier
      751  credit_card  mastercard      3992  21216  Erika Jones
      427  credit_card  visa            6990  21274  Erin Barnes
      657  credit_card  mastercard      6389  21211  Erin Schmidt
       82  credit_card  visa             441  21230  Ethan Alvarez
      207  credit_card  mastercard      4963  21297  Ethan Schmidt
      571  credit_card  mastercard      6640  21278  Eugene Murphy
      706  credit_card  visa            9532  21233  Evan Ramirez
      498  credit_card  visa            6564  21251  Felicia Gonzalez
      620  credit_card  visa            8970  21203  Felicia Sutton
      134  credit_card  visa            3404  21279  Frank Franco
      605  credit_card  visa            4022  21202  Frank Rhodes
      699  credit_card  visa            2053  21202  Frank Washington
      138  credit_card  visa            9755  21264  Franklin Lyons
      602  credit_card  visa            4852  21230  Fred Smith
      484  credit_card  visa            4757  21217  Gabriel Gaines
       95  credit_card  visa            7058  21201  Gabriela Davis
      464  credit_card  mastercard      2645  21223  Gabrielle Walters
      185  credit_card  visa            4126  21280  Gabrielle Young
      449  credit_card  visa            7047  21298  Garrett Huffman
      129  credit_card  visa            8519  21290  Garrett Newton
      425  credit_card  visa            1347  21264  Gavin Andrews
      493  credit_card  visa            5471  21213  Geoffrey Nelson
      102  credit_card  visa            8830  21202  George Johnson
       98  credit_card  visa            3795  21223  Gerald Sanchez
      238  credit_card  visa            8569  21215  Gina Evans
       49  credit_card  mastercard      3658  21263  Gina Green
      625  credit_card  visa            3593  21214  Gloria Galloway
      423  credit_card  visa            7029  21263  Gregg Wilson
       74  credit_card  mastercard       388  21297  Gregory Carr
        8  credit_card  visa            4242  21265  Gregory Jones
      558  credit_card  mastercard       266  21283  Gregory Le
      750  credit_card  visa            8701  21215  Gregory Zamora
      283  credit_card  mastercard      8630  21283  Hailey Russell
      648  credit_card  visa            5431  21216  Haley Pierce
      311  credit_card  visa            6469  21287  Harold Prince
       64  credit_card  visa            1538  21287  Heather Aguilar
      509  credit_card  mastercard      5957  21298  Heather Clark
      638  credit_card  visa            8004  21297  Heather Fernandez
      458  credit_card  visa            9284  21289  Heather Harris
      451  credit_card  visa            2828  21288  Holly Mason
      692  credit_card  visa            2832  21216  Isabel Rhodes
      404  credit_card  visa            1957  21218  Jaclyn Ford
      506  credit_card  visa            8850  21217  Jacob Clark
      322  credit_card  visa            6726  21251  Jacob Dickson
      580  credit_card  visa            5048  21273  Jacob Finley
      681  credit_card  mastercard       264  21218  Jacob Murphy
       83  credit_card  visa            9762  21280  Jacob Wiggins

Again I couldn't quite figure this out because it relies on foreign keys in order to link the charges with the cardholders/payments ids. But essentially what we would do is select the order based on cardholder name and figure out which days they come in per week.

I'm going to review the lab solution once we get it on how to set up foreign keys, as it seems like that is most important for these questions. I know most of my tables should be set up correctly except for the foreign keys. Thank you.