In [59]:
import requests
import json
import pandas as pd
import psycopg2
import psycopg2.extras
from datetime import datetime

## Get all station IDs first

In [65]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/get_station_ids"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Send the POST request to the API endpoint
response = requests.get(url)

# Print the response status code and content
print('Response Status Code:', response.status_code)
station_ids = json.loads(response.content)
print(station_ids[0:50])
print(len(station_ids))

Response Status Code: 200
[['3edec530-4791-4872-8912-2a2397a903a4'], ['66dd9dba-0aca-11e7-82f6-3863bb44ef7c'], ['3d1db3fa-1df5-46c8-baf3-619b729f5bda'], ['2f656bc4-7743-4326-8330-a22bd41d9d17'], ['1851674145014649512'], ['c0e0e578-8ce8-4c9d-be47-b902d8a41050'], ['0f51cb84-e386-44ac-947f-a969f7617d17'], ['7380e377-936d-47d7-8abe-0f666d47465e'], ['66de1448-0aca-11e7-82f6-3863bb44ef7c'], ['d4c34830-972f-4cd1-81bb-071df209d065'], ['3d340fc5-8c86-4d5e-974d-ae28958e61e8'], ['ecc52c52-e2d9-4e73-8f9c-18ad8e9b0606'], ['66de1a1f-0aca-11e7-82f6-3863bb44ef7c'], ['2b33334b-243c-4a16-a6d2-32304c8884f1'], ['0dc63044-e19c-474d-9df1-c3e504d03b07'], ['7e7d974c-a6ec-4d9a-b4ed-01a4d2056d8b'], ['66dd1bf3-0aca-11e7-82f6-3863bb44ef7c'], ['e612122d-e0fd-4ebf-8d51-0f48f9d1b580'], ['1828965347681089818'], ['ca843847-923a-40b7-80ca-c1c3fff6e818'], ['66db88f5-0aca-11e7-82f6-3863bb44ef7c'], ['1848241332086049696'], ['324e55da-fec0-43a2-b622-27774381ab7f'], ['66dd1d9c-0aca-11e7-82f6-3863bb44ef7c'], ['66de2b97-0aca-11e7-82f6-3863bb44ef7c'], ['1834145468418707676'], ['66dc89ae-0aca-11e7-82f6-3863bb44ef7c'], ['1905394575114219798'], ['1828966104320053340'], ['66dc86d9-0aca-11e7-82f6-3863bb44ef7c'], ['66db46d7-0aca-11e7-82f6-3863bb44ef7c'], ['66dc840f-0aca-11e7-82f6-3863bb44ef7c'], ['1786698815186893280'], ['66dbf140-0aca-11e7-82f6-3863bb44ef7c'], ['66dcc8b3-0aca-11e7-82f6-3863bb44ef7c'], ['1906248765431831024'], ['8df41833-c7bf-4171-bdab-58d64f6ade54'], ['1814548067447122618'], ['66dd2208-0aca-11e7-82f6-3863bb44ef7c'], ['1817431953833509324'], ['6476c5fd-611e-436c-9736-e0f43bb7774e'], ['525535e3-dde3-47b4-9c2e-0174eaa4f2bb'], ['7e70b65e-00c1-40d5-984d-17232a4ee05e'], ['bd1760ad-3af3-4ede-9bd7-c8fbf46d7192'], ['1d167807-0aa8-413a-b7a0-01c2ca8a6a60'], ['cd118a8f-a7d1-4b7a-a6d3-d9e875cb29df'], ['1859808514684217788'], ['95a52ce4-3597-47d1-8d6f-427cb3b8ca6a'], ['30a75e12-5327-48f0-8155-3925aa934054'], ['d837d1b0-8f80-4f6c-ae45-5dd0deec6977']]
2221

## Now we are going to input some filters to select what data we'd like to see!

1. e.g. date filter: 2024-05-30
2. e.g time filter: 8 corresponds to 8am, 15 corresponds to 3pm
3. e.g station_id: 6 or 100-1000
4. Please do not go over the maximum length for station ids! 2221

If you do not want to filter anything, please leave everything blank!

In [66]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_precip_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "start_date": "2023-07-30",
    "end_date": "2023-10-30",
    "start_time":"8",
    "end_time": "18"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
#print('Response Content:', json.loads(response.content))
weather_precip = json.loads(response.content)
weather_precip_df = pd.DataFrame(weather_precip)
weather_precip_df.columns = ['valid', 'date', 'time', 'hour', 'one_hour_precip_amount', 'wxcode1', 'wxcode2', 'ice_accretion_1hr', 
                             'ice_accretion_3hr', 'ice_accreation_6hr', 'snowdepth']
weather_precip_df.head()

Response Status Code: 200

,valid,date,time,hour,one_hour_precip_amount,wxcode1,wxcode2,ice_accretion_1hr,ice_accretion_3hr,ice_accreation_6hr,snowdepth
0,2023-07-30,8,0,0.0,0,0.00,0.0,08:51:00,2023-07-30 08:51:00,NaN,NaN
1,2023-07-30,9,0,0.0,0,0.00,0.0,09:51:00,2023-07-30 09:51:00,NaN,NaN
2,2023-07-30,10,0,0.0,0,0.00,0.0,10:51:00,2023-07-30 10:51:00,NaN,NaN
3,2023-07-30,11,0,0.0,0,0.00,0.0,11:51:00,2023-07-30 11:51:00,NaN,NaN
4,2023-07-30,12,0,0.0,0,0.00,0.0,12:51:00,2023-07-30 12:51:00,NaN,NaN

In [67]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_general_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "start_date": "2023-07-30",
    "end_date": "2023-10-30",
    "start_time":"8",
    "end_time": "18"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
#print('Response Content:', json.loads(response.content))
weather_general = json.loads(response.content)
weather_general_df = pd.DataFrame(weather_general)
weather_general_df.columns = ['valid', 'date', 'time', 'hour', 'temperature_f', 'dewpoint_f', 'relative_humidity', 'real_feel_f', 
                              'visibility']
weather_general_df.head()

Response Status Code: 200

,valid,date,time,hour,temperature_f,dewpoint_f,relative_humidity,real_feel_f,visibility
0,2023-07-30,58.0,8,68.0,70.35,68.0,08:51:00,2023-07-30 08:51:00,10.0
1,2023-07-30,56.0,9,67.0,67.75,67.0,09:51:00,2023-07-30 09:51:00,10.0
2,2023-07-30,53.0,10,66.0,62.87,66.0,10:51:00,2023-07-30 10:51:00,10.0
3,2023-07-30,54.0,11,66.0,65.21,66.0,11:51:00,2023-07-30 11:51:00,10.0
4,2023-07-30,51.0,12,68.0,54.50,68.0,12:51:00,2023-07-30 12:51:00,10.0

In [68]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_pressure_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "start_date": "2023-07-30",
    "end_date": "2023-10-30",
    "start_time":"8",
    "end_time": "18"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
weather_pressure = json.loads(response.content)
weather_pressure_df = pd.DataFrame(weather_pressure)
weather_pressure_df.columns = ['valid', 'date', 'time', 'hour', 'altimeter', 'sea_level_pressure']
weather_pressure_df.head()

Response Status Code: 200

   valid        date  time    hour altimeter   sea_level_pressure
0  29.90  2023-07-30     8  1011.4  08:51:00  2023-07-30 08:51:00
1  29.91  2023-07-30     9  1011.9  09:51:00  2023-07-30 09:51:00
2  29.94  2023-07-30    10  1012.9  10:51:00  2023-07-30 10:51:00
3  29.96  2023-07-30    11  1013.8  11:51:00  2023-07-30 11:51:00
4  29.98  2023-07-30    12  1014.4  12:51:00  2023-07-30 12:51:00

In [69]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_sky_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "start_date": "2023-07-30",
    "end_date": "2023-10-30",
    "start_time":"8",
    "end_time": "18"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
weather_sky = json.loads(response.content)
weather_sky_df = pd.DataFrame(weather_sky)
weather_sky_df.columns = ['valid', 'date', 'time', 'hour', 'sky_coverage']
weather_sky_df.head()

Response Status Code: 200

        valid  date time      hour         sky_coverage
0  2023-07-30     8  CLR  08:51:00  2023-07-30 08:51:00
1  2023-07-30     9  CLR  09:51:00  2023-07-30 09:51:00
2  2023-07-30    10  SCT  10:51:00  2023-07-30 10:51:00
3  2023-07-30    11  CLR  11:51:00  2023-07-30 11:51:00
4  2023-07-30    12  CLR  12:51:00  2023-07-30 12:51:00

In [70]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_wind_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "start_date": "2023-07-30",
    "end_date": "2023-10-30",
    "start_time":"8",
    "end_time": "18"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
weather_wind = json.loads(response.content)
weather_wind_df = pd.DataFrame(weather_wind)
weather_wind_df.columns = ['valid', 'date', 'time', 'hour', 'direction', 'windspeed_mph', 'windspeed_knots', 'max_windspeed_mph', 
                            'max_windspeed_knots', 'max_windspeed_time']
weather_wind_df.head()

Response Status Code: 200

,valid,date,time,hour,direction,windspeed_mph,windspeed_knots,max_windspeed_mph,max_windspeed_knots,max_windspeed_time
0,2023-07-30,350.0,8,15.0,17.2617,08:51:00,08:51:00,2023-07-30 08:51:00,4.0,4.60312
1,2023-07-30,350.0,9,15.0,17.2617,09:51:00,09:51:00,2023-07-30 09:51:00,5.0,5.75390
2,2023-07-30,350.0,10,15.0,17.2617,10:51:00,10:51:00,2023-07-30 10:51:00,6.0,6.90468
3,2023-07-30,350.0,11,15.0,17.2617,11:51:00,11:51:00,2023-07-30 11:51:00,3.0,3.45234
4,2023-07-30,350.0,12,15.0,17.2617,12:51:00,12:51:00,2023-07-30 12:51:00,3.0,3.45234

In [72]:
# ### Sending a GET request for SQL

# Set the API endpoint URL
url = "http://localhost:8001/read_station_data"

# Set the request headers
headers = {
    'Content-Type': 'application/json'
}

# Please input what you would like to filter!

filter = {
    "station_id":"0:50"
}

# Send the POST request to the API endpoint
response = requests.get(url, json=filter)

# Print the response status code and content
print('Response Status Code:', response.status_code)
station = json.loads(response.content)
station_df = pd.DataFrame(station)
station_df.columns = ['short_name', 'station_id', 'name', 'lat', 'lon', 'region_id', 'capacity', 'rental_uris']
station_df.head()

Response Status Code: 200

,short_name,station_id,name,lat,lon,region_id,capacity,rental_uris
0,51,40.723230,-74.003140,W Broadway & Watts St,71,"{'ios': 'https://bkn.lft.to/lastmile_qr_scan',...",5569.07,7d5fa1f0-4069-4d5d-b735-5d500597394a
1,44,40.703662,-74.013181,Whitehall St & Bridge St,71,"{'ios': 'https://bkn.lft.to/lastmile_qr_scan',...",4962.02,c1a4d909-0a00-475a-8e82-18ed13a4eb01
2,21,40.684910,-73.914930,Thomas S. Boyland St & Macon St,71,"{'ios': 'https://bkn.lft.to/lastmile_qr_scan',...",4325.03,7779e057-b33e-46a7-8a1e-8c28bcd9a558
3,30,40.648481,-73.970580,Caton Ave & E 10 St,71,"{'ios': 'https://bkn.lft.to/lastmile_qr_scan',...",3230.01,e85c3165-ad0a-44a3-9683-d8cf7575f465
4,19,40.819890,-73.908351,Cauldwell Ave & E 158 St,71,"{'ios': 'https://bkn.lft.to/lastmile_qr_scan',...",7913.15,19b61564-7629-41b4-80c8-1756135a5442

In [ ]:
# Connect to database
conn = psycopg2.connect(
    dbname='new_db', 
    user='awesome_user', 
    password='awesome_password', 
    host='postgres', 
    port='5432'
)
## Create a cursor object to interface with psql
c = conn.cursor()

c.execute('DROP TABLE IF EXISTS citibike_project.weather_general')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.weather_general (
        id SERIAL PRIMARY KEY,
        valid timestamp NOT NULL,
        date DATE,
        time TIME,
        hour VARCHAR,
        temperature_f FLOAT,
        dewpoint_f FLOAT,
        relative_humidity FLOAT,
        real_feel_f FLOAT,
        visibility FLOAT
    )'''
)

c.execute('DROP TABLE IF EXISTS citibike_project.weather_wind')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.weather_wind (
        id SERIAL PRIMARY KEY,
        valid timestamp NOT NULL,
        date DATE,
        time TIME,
        hour VARCHAR,
        direction FLOAT,
        windspeed_mph FLOAT,
        windspeed_knots FLOAT,
        max_windspeed_mph FLOAT,
        max_windspeed_knots FLOAT,
        max_windspeed_time TIME
    )'''
)

c.execute('DROP TABLE IF EXISTS citibike_project.weather_pressure')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.weather_pressure (
        id SERIAL PRIMARY KEY,
        valid timestamp NOT NULL,
        date DATE,
        time TIME,
        hour VARCHAR,
        altimeter FLOAT,
        sea_level_pressure FLOAT
    )'''
)

c.execute('DROP TABLE IF EXISTS citibike_project.weather_precip')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.weather_precip (
        id SERIAL PRIMARY KEY,
        valid timestamp NOT NULL,
        date DATE,
        time TIME,
        hour VARCHAR,
        one_hour_precip_amount VARCHAR,
        wxcode1 VARCHAR,
        wxcode2 VARCHAR,
        ice_accretion_1hr VARCHAR,
        ice_accretion_3hr VARCHAR,
        ice_accretion_6hr VARCHAR,
        snowdepth VARCHAR
    )'''
)

c.execute('DROP TABLE IF EXISTS citibike_project.weather_sky_coverage')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.weather_sky_coverage (
        id SERIAL PRIMARY KEY,
        valid timestamp NOT NULL,
        date DATE,
        time TIME,
        hour VARCHAR,
        sky_coverage VARCHAR
    )'''
)

c.execute('DROP TABLE IF EXISTS citibike_project.station_info')
c.execute('''
    CREATE TABLE IF NOT EXISTS citibike_project.station_info (
        short_name VARCHAR PRIMARY KEY,
        station_id VARCHAR,
        name VARCHAR,
        lat FLOAT,
        lon FLOAT,
        region_id VARCHAR,
        capacity INT,
        rental_uris VARCHAR
    )'''
)

In [ ]:
# insert general data into general table in final_project schema
columns = weather_general[0].keys()

query = 'INSERT INTO citibike_project.weather_general ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in weather_general]

psycopg2.extras.execute_values(c, query, values)
conn.commit()

In [62]:
# insert wind data into wind table in final_project schema
columns = weather_wind[0].keys()

query = 'INSERT INTO citibike_project.weather_wind ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in weather_wind]

psycopg2.extras.execute_values(c, query, values)
conn.commit()

In [63]:
# insert pressure data into pressure table in final_project schema
columns = weather_pressure[0].keys()

query = 'INSERT INTO citibike_project.weather_pressure ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in weather_pressure]

psycopg2.extras.execute_values(c, query, values)
conn.commit()

In [64]:
# insert precip data into precip table in final_project schema
columns = weather_precip[0].keys()

query = 'INSERT INTO citibike_project.weather_precip ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in weather_precip]

psycopg2.extras.execute_values(c, query, values)
conn.commit()

UndefinedColumn: column "ice_accreation_6hr" of relation "weather_precip" does not exist
LINE 1: ...T INTO citibike_project.weather_precip (date,hour,ice_accrea...
                                                             ^

In [ ]:
# insert sky_coverage data into sky_coverage table in final_project schema
columns = weather_sky[0].keys()

query = 'INSERT INTO citibike_project.weather_sky_coverage ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in weather_sky]

psycopg2.extras.execute_values(c, query, values)
conn.commit()

In [ ]:
# insert sky_coverage data into sky_coverage table in final_project schema
columns = station[0].keys()

query = 'INSERT INTO citibike_project.station_info ({}) VALUES %s'.format(','.join(columns))

values = [[value for value in data.values()] for data in station]

psycopg2.extras.execute_values(c, query, values)
conn.commit()