# **API Testing**
The following notebook is used for testing the various API functionalities deployed at `http://localhost:8001/`.

These include:
- `/get_station_ids`: reads all available station ids
- `/read_station_data`: reads the metadata about a given station id
- `/read_general_data`: reads general weather data including temperature
- `/read_precip_data`: reads precipitation weather data
- `/read_pressure_data`: reads pressure weather data
- `/read_sky_data`: reads sky coverage weather data
- `/read_wind_data`: reads wind data

For API instances with temporal data (e.g. weather data), the API also accepts the below parameters:
- `start_date` = start date of data, %Y-%m-%d formatted
- `end_date` = start date of data, %Y-%m-%d formatted
- `start_time` = start hour of data, integer
- `end_time` = end hour of data, integer

In [65]:
import requests
import json
import pandas as pd
import psycopg2
import psycopg2.extras
from datetime import datetime

URL_HOST = "http://localhost:8001"

## **Get Station Ids**

In [66]:
url = f"{URL_HOST}/get_station_ids"
response = requests.get(url)

print('Response Status Code:', response.status_code)
station_ids = json.loads(response.content)
print(station_ids[0:10])
print(len(station_ids))

Response Status Code: 200
[['3edec530-4791-4872-8912-2a2397a903a4'], ['66dd9dba-0aca-11e7-82f6-3863bb44ef7c'], ['3d1db3fa-1df5-46c8-baf3-619b729f5bda'], ['2f656bc4-7743-4326-8330-a22bd41d9d17'], ['1851674145014649512'], ['c0e0e578-8ce8-4c9d-be47-b902d8a41050'], ['0f51cb84-e386-44ac-947f-a969f7617d17'], ['7380e377-936d-47d7-8abe-0f666d47465e'], ['66de1448-0aca-11e7-82f6-3863bb44ef7c'], ['3d340fc5-8c86-4d5e-974d-ae28958e61e8']]
2219

## **Read Station Data**

In [67]:
url = f"{URL_HOST}/read_station_data"
request_filter = {"station_id":"3edec530-4791-4872-8912-2a2397a903a4"}
response = requests.get(url, json=request_filter)

print('Response Status Code:', response.status_code)
station_df = pd.DataFrame(json.loads(response.content))
station_df.head()

Response Status Code: 200

,capacity,lat,lon,name,region_id,rental_uris,short_name,station_id,zip_code
0,69,40.727379,-73.988408,E 6 St & 2 Ave,71,{'android': 'https://bkn.lft.to/lastmile_qr_sc...,5669.12,3edec530-4791-4872-8912-2a2397a903a4,10003

## **Read General Weather Data**

In [68]:
weather_request_filter = {
    "start_date": "2023-07-30", "end_date": "2023-10-30",
    "start_time":"8", "end_time": "18"
}

In [69]:
url = f"{URL_HOST}/read_general_data"
response = requests.get(url, json=weather_request_filter)

print('Response Status Code:', response.status_code)
weather_general= pd.DataFrame(json.loads(response.content))
weather_general.head()

Response Status Code: 200

,date,dewpoint_f,hour,real_feel_f,relative_humidity,temperature_f,time,valid,visibility
974,2023-07-30,58.0,8,68.0,70.35,68.0,08:51:00,2023-07-30 08:51:00,10.0
975,2023-07-30,56.0,9,67.0,67.75,67.0,09:51:00,2023-07-30 09:51:00,10.0
976,2023-07-30,53.0,10,66.0,62.87,66.0,10:51:00,2023-07-30 10:51:00,10.0
977,2023-07-30,54.0,11,66.0,65.21,66.0,11:51:00,2023-07-30 11:51:00,10.0
978,2023-07-30,51.0,12,68.0,54.50,68.0,12:51:00,2023-07-30 12:51:00,10.0

## **Read Precipitation Weather Data**

In [70]:
url = f"{URL_HOST}/read_precip_data"
response = requests.get(url, json=weather_request_filter)

print('Response Status Code:', response.status_code)
weather_general= pd.DataFrame(json.loads(response.content))
weather_general.head()

Response Status Code: 200

,date,hour,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,one_hour_precip_amount,snowdepth,time,valid,wxcode1,wxcode2
974,2023-07-30,8,0,0.0,0,0.00,0.0,08:51:00,2023-07-30 08:51:00,NaN,NaN
975,2023-07-30,9,0,0.0,0,0.00,0.0,09:51:00,2023-07-30 09:51:00,NaN,NaN
976,2023-07-30,10,0,0.0,0,0.00,0.0,10:51:00,2023-07-30 10:51:00,NaN,NaN
977,2023-07-30,11,0,0.0,0,0.00,0.0,11:51:00,2023-07-30 11:51:00,NaN,NaN
978,2023-07-30,12,0,0.0,0,0.00,0.0,12:51:00,2023-07-30 12:51:00,NaN,NaN

## **Read Pressure Weather Data**

In [71]:
url = f"{URL_HOST}/read_pressure_data"
response = requests.get(url, json=weather_request_filter)

print('Response Status Code:', response.status_code)
weather_pressure = pd.DataFrame(json.loads(response.content))
weather_pressure.head()

Response Status Code: 200

,altimeter,date,hour,sea_level_pressure,time,valid
974,29.90,2023-07-30,8,1011.4,08:51:00,2023-07-30 08:51:00
975,29.91,2023-07-30,9,1011.9,09:51:00,2023-07-30 09:51:00
976,29.94,2023-07-30,10,1012.9,10:51:00,2023-07-30 10:51:00
977,29.96,2023-07-30,11,1013.8,11:51:00,2023-07-30 11:51:00
978,29.98,2023-07-30,12,1014.4,12:51:00,2023-07-30 12:51:00

## **Read Sky Weather Data**

In [72]:
url = f"{URL_HOST}/read_sky_data"
response = requests.get(url, json=weather_request_filter)

print('Response Status Code:', response.status_code)
weather_sky = pd.DataFrame(json.loads(response.content))
weather_sky.head()

Response Status Code: 200

           date hour sky_coverage      time                valid
974  2023-07-30    8          CLR  08:51:00  2023-07-30 08:51:00
975  2023-07-30    9          CLR  09:51:00  2023-07-30 09:51:00
976  2023-07-30   10          SCT  10:51:00  2023-07-30 10:51:00
977  2023-07-30   11          CLR  11:51:00  2023-07-30 11:51:00
978  2023-07-30   12          CLR  12:51:00  2023-07-30 12:51:00